<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".persont" mimeType="text/vnd.borax.person-template" />
         <mimeMap fileExtension=".persond" mimeType="text/vnd.borax.person-data" />
         <mimeMap fileExtension=".orgt" mimeType="text/vnd.borax.organization-template" />
         <mimeMap fileExtension=".orgd" mimeType="text/vnd.borax.organization-data" />
      </staticContent>
   </system.webServer>
</configuration>